---
import { Icon } from "astro-icon/components"; /* not used but maybe they will be */
import { Image } from "astro:assets";
import { getEvents } from 'src/scripts/notion';
const events = await getEvents()
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---
<section class=" bg-pblue border-2 border-black group rounded-xl m-5 p-5">
  <div class="grid row-start-1">
    <div class="flex gap-0 justify-start items-start">
      <h3 class="text-6xl underline">&hacks XI Itinerary</h3>
    </div>
  </div>
  <div class="grid row-start-2">
    <div class="flex md:flex-row flex-col justify-content items-center p-50px m-50px gap-10">
      <div class="flex flex-col gap-2 justify-start items-center text-center md:w-1/2 p-0px border-3 border-black rounded-md">
        <p class="text-5xl">Sep. 26, 2025, at 6:00 p.m.</p>
        <p class="text-4xl">In William and Mary's <br><strong class="underline">Integrated Science Center</strong></p>
        <p class="text-3xl">540 Landrum Drive, Williamsburg, VA 23186</p>
      </div>
      <div class="flex flex-col md:w-1/2 object-contain justify-start group gap-3 border-3 border-black rounded-md">
        <div class="flex flex-col items-start"><p class="text-3xl">Fun Events</p></div>
        <div class="flex flex-col items-center">
        <table class="table-auto border-solid border-black rounded-xl">
          <thead>
              <th>Date/Time</th>
              <th>Event</th>
              <th>Location</th>
          </thead>
          {events.map((event) => (
            <tr class="odd:bg-pgreen even:bg-pyellow">
              <td><p class="text-sm">{event.date.toDateString()}</p></td>
              <td><p class="text-sm"><a class="font-bold italic" href={event.website}>{event.name}</a></p></td>
              <td><p class="text-sm">{event.location}</p></td>
            </tr>
            ))
          }
        </table>
        <!-- TODO: this bloody thing won't right-align, for mysterious reasons -->
         <div class="flex flex-col p-5">
          <a
          href="/schedule"
          class="flex flex-col justify-end items-center content-center bg-pgreen px-5 py-3 border-1 border-black rounded-lg shadow-card hover:shadow-hover transition" 
          >
        View Full Schedule
        </a>
        </div>
      </div>  
      </div>
    </div>
    </div>
    </div>
</section>