---
import { Icon } from "astro-icon/components"; /* not used but maybe they will be */
import { Image } from "astro:assets";
import { getEvents } from 'src/scripts/notion';
import {type CollectionEntry, getCollection } from "astro:content";
const sponsors = await getCollection('sponsors');
console.log('SPONSORS ARE: ' + sponsors);
const events = await getEvents()
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---
<section class=" bg-gray-300 border-1 border-black shadow-card group hover:shadow-hover transition rounded-xl m-5 p-5">
  <!-- grey so as to be least likely to conflict with sponsors' logos -->
  <!-- <div class="grid row-start-1">
    <div class="flex gap-0 justify-start items-start">
      <h3 class="text-6xl">Our Sponsors</h3>
    </div>
  </div>-->
  <div class="grid row-start-2">
    <div class="flex md:flex-row flex-col justify-content items-start px-4 md:px-0 gap-10 md:gap-0">
      <div class="flex flex-col gap-0 justify-start items-start w-2/3 md:w-5/6 p-0px">
        <h3 class="text-6xl">Our Sponsors</h3>
        <!-- left side -->
         {sponsors.map((s) => (
          <p class="text-2xl">{s.data.name}</p>
         ))}
      </div>
      <div class="flex flex-col w-1/3 md:w-1/6 object-contain justify-start group gap-0 p-0px">
        <div class="flex flex-col items-end">
        <!-- TODO: this bloody thing won't right-align, for mysterious reasons -->
         <div class="flex flex-col p-5">
        <a href="/schedule">
            <div class="flex flex-col w-11/12 h-11/12 object-contain justify-center items-center group gap-0 px-10 py-20 bg-pgreen shadow-card rounded-xl border-1 border-black z-20">
                <p class="text-3xl text-center">Sponsor Us!</p>
            </div>
        </a>
      </div>  
      </div>
    </div>
    </div>
    </div>
</section>